// --- header ---//
.header {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
  background: url('/img/header/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.426517) 0%, #0F0F0F 100%);
  }
  
  &__title{
    font-weight: $bold;
    font-size: 120px;
    line-height: 105px;
    text-transform: uppercase;
    color: $white;
    opacity: 0.07;
    max-width: 467px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

    @media screen and (min-width: $screen-md) {
      font-size: 200px;
      line-height: 156px;
    }
  }

  &__hamburger {
    top: 20px;
    right: 50px;
    position: absolute;
    padding: 20px 54px 21px 5px;

    @media screen and (min-width: $screen-md) {
      top: 20px;
      left: 135px;
    }

    @media screen and (min-width: $screen-xl) {
      display: none;
    }

    @media screen and (min-width: $screen-xl) and (max-height: 879px) {
      top: 40px;
      left: 200px;
      display: block;
    }
  }

  &__map{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    
    svg {
      width: 400px;
      height: 400px;

      @media screen and (min-width: $screen-sm) {
        width: 600px;
      }

      @media screen and (min-width: $screen-md) {
        width: 800px;
      }

      @media screen and (min-width: $screen-xl) {
        width: 1000px;
        height: 450px;
      }
    }
  }

  &__aside{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color .2s ease;

    @media screen and (min-width: $screen-md) and (min-height: 880px) {
      width: 128px;
      justify-content: space-between;
    }

    @media screen and (min-width: $screen-xl) {
      width: 168px;
      border-right: 1px solid rgba($white, 0.25);
    }

    &.active{
      background-image: linear-gradient(to bottom, rgba(27, 27, 28, 0.53), rgba(26, 26, 27, 0.57), rgba(25, 25, 26, 0.61), rgba(24, 23, 24, 0.65), rgba(23, 22, 23, 0.69), rgba(22, 21, 22, 0.73), rgba(20, 20, 21, 0.77), rgba(19, 19, 20, 0.81), rgba(18, 18, 19, 0.85), rgba(17, 16, 17, 0.89), rgba(16, 15, 16, 0.93), rgba(15, 14, 15, 0.97));
      transition: background-color .2s ease;
      border-right: 1px solid rgba(255,255,255,.25);
    }
  }

  &__slider {

    &-item {
      height: 100vh;
      background: url('/img/header/background.jpg') no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(62.09% 62.09% at 42.87% 49.23%, rgba(34, 34, 34, 0.426517) 0%, #0F0F0F 100%);
      }
    }
  }

  &__arrow {

    &-bottom{
      position: absolute;
      bottom: 40px;
      left: 190px;
      transition: $transition-elem;
      fill: $white-opacity;
      cursor: pointer;
      display: none;

      svg{
        width: 20px;
        height: 23px;
      }

      &:hover{
        fill: $white;
      }

      @media screen and (min-width: $screen-xl) {
        display: block;
      }
    }
  }

  &__date{
    text-align: center;
    color: $white;

    &-numb{
      font-size: 50px;
      font-weight: $bold;
      line-height: 64px;
      margin-bottom: 3px;

      @media screen and (min-width: $screen-md) {
        font-size: 72px;
        margin-bottom: 10px;
      }
    }

    &-full{
      font-weight: $light;
      font-size: 16px;
      text-align: center;
      letter-spacing: 1.4px;
      line-height: 19px;
    }
  }

  &__menu{   
    transform: translateX(-100%);
    transition: transform 1s;

    @media screen and (min-width: $screen-md) {
      margin-bottom: 15px;
    }

    @media screen and (min-width: $screen-xl) and (min-height: 880px) {
      transform: translateX(0%);
    }

    &.active{
      transform: translateX(0%);
    }
  }

  &__location{
    text-align: center;
    margin-bottom: 10%;
  }
  // двойные стрелки правый верхний угол
  &__arrows {
    display: none;

    @media screen and (min-width: $screen-md) {
      display: block;
    }
  }
}

// --- слайдер --- //
.slider-item {

  &__info {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    text-transform: uppercase;

    @media screen and (min-width: $screen-md) {
      bottom: 30px;
    }

    @media screen and (min-width: $screen-lxm) {
      bottom: 120px;
      right: 80px;
    }

    &-subtitle,
    &-subtext {
      margin-bottom: 10px;
    }

    &-title{
      font-size: 50px;
      line-height: 60px;      
      font-weight: $bold;
      margin-bottom: 5px;
      padding-left: 20px;

      @media screen and (min-width: $screen-md) {
        font-size: 80px;
        line-height: 76px;
        margin-bottom: 20px;
      }
    }

    &-text {
      margin-bottom: 10px;
      font-weight: $bold;
      font-size: 30px;
      line-height: 25px;
      text-transform: uppercase;

      @media screen and (min-width: $screen-md) {
        font-size: 40px;
        line-height: 45px;
      }
    }
  }
}

// --- пункты слайдера расположенные под ним --- //
.slider-dots {
  position: absolute;
  right: 50px;
  bottom: 40px;
  max-width: 920px;
  width: 100%;
  display: none;

  @media screen and (min-width: $screen-lxm) {
    display: block;
  }

  .slick-current {

    .dots-box{
      border-top-color: $main-green;
    }
  }

  &__item{
    margin-right: 40px;
    &:last-child {
      margin-right: 0px;
    }

    .dots-box{
      display: flex;
      width: 200px;
      justify-content: space-between;
      border-top: 4px solid $white;
      padding-top: 11px;
      transition: $transition-elem;

      &__number{
        text-transform: uppercase;
        font-weight: $bold;
        font-size: 24px;
      }
      &__name{
        font-weight: $light;
        font-size: 16px;
      }
    }
  }

}

// --- логотип --- //
.logo {
  display: none;

  @media screen and (min-width: $screen-md) and (min-height: 880px) {
    height: 150px;
    background: $main-green;
    position: relative;
    margin-bottom: 130px;
    z-index: 100;
    display: block;
  }

  @media screen and (min-width: $screen-xl) {
    height: 190px;
  }

  &__box{

    @media screen and (min-width: $screen-md) {
      display: flex;
      font-weight: $bold;
      text-transform: uppercase;
      color: $white;
      transform: rotate(-90deg);  
      position: absolute;  
      font-size: 50px;
      width: 320px;
      left: -74%;
      bottom: 10%;
    }

    @media screen and (min-width: $screen-xl) {
      font-size: 60px;
      left: -45%;
    }

    &-elem{
      display: block;
      padding: 0px 36px;
      position: relative;
      &::before{
        content: '';
        width: 20px;
        height: 1px;
        background: $white;
        display: block;
        top: 50%;
        position: absolute;
        left: 5%;
      }

      @media screen and (min-width: $screen-md) {
        padding: 0px 45px;
      }
    }
  }
}

// --- меню с поиском --- //
.menu {
  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item{
    margin-bottom: 15px;

    @media screen and (min-width: $screen-md) {
      margin-bottom: 20px;
    }
  }

  &__icon{
    display: block;
    fill: rgba($white, 0.75);
    cursor: pointer;
    transition: $transition-elem;
    text-align: center;

    &:hover{
      fill: $white
    }

    svg{
      width: 45px;
      height: 50px;
      display: block;
    }

    &-title{
      display: block;
    }

    &-search{
      svg{
        width: 24px;
        height: 24px;
      }
    }
  }

}

// --- месторасположение с иконкой --- //
.location-header {
  font-weight: $light;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.05px;
  padding-left: 20px;
  position: relative;
  
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 14px;
    background: url('/img/header/map-icon.svg') no-repeat center;
  }
}

