$main-green: #56F7D0;
$white: #fff;
$white-opacity: rgba(255, 255, 255, 0.5);
$base-background: #171919;

$transition-elem: .2s;

// **********************
// ** ширина
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-lxm: 1024px;
$screen-xl: 1210px;

// **********************
$bold: 700;
$medium: 500;
$normal: 400;
$light: 300;
